forgit/src/main/mule/forgit.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ee6c77c6-97e1-463a-9547-2e7f54ca4fcc" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="forgitFlow" doc:id="bc77e238-4ecb-4226-8f02-4dbcba417452" >
		<http:listener doc:name="Listener" doc:id="87873f70-a203-4a4f-9e68-d766f0196b3b" config-ref="HTTP_Listener_config" path="/git"/>
		<set-payload value='#["egthjyukilo;;lukyjythrgeefregthyjuki"]' doc:name="Set Payload" doc:id="9689c6fa-6f99-4ac0-8e4c-a5243083cdba" />
	</flow>
</mule>
